.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  min-height: 88vh;
}
.notfound h2 {
  font-size: 20rem;
}
.notfound p {
  font-size: 5rem;
}
